<div class="picture-row row-fluid">
  <div class="picture span4">
    <%= image_tag 'test-thumb1.jpg' %>
  </div>
  <div class="picture span4">
    <%= link_to fauna_galleries_path do %>
      <%= image_tag 'gallery2.png' %>
    <% end %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb6.jpg' %>
  </div>
</div>
<div class="picture-row row-fluid">
  <div class="picture span4">
    <%= image_tag 'test-thumb4.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb5.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb2.jpg' %>
  </div>
</div>
