<div class="picture-row row-fluid">
  <div class="picture span4">
    <%= image_tag 'test-thumb1.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb3.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb6.jpg' %>
  </div>
</div>
<div class="picture-row row-fluid">
  <div class="picture span4">
    <%= image_tag 'test-thumb4.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb5.jpg' %>
  </div>
  <div class="picture span4">
    <%= image_tag 'test-thumb2.jpg' %>
  </div>
</div>
