<div class="gallery">
  <%= image_tag 'sneaky_yellow.jpg' %>
  <%= image_tag 'dogwalker.jpg' %>
  <%= image_tag 'bruce.jpg' %>
  <%= image_tag 'sunshine.jpg' %>
  <%= image_tag 'butterfly2.jpg' %>
  <%= image_tag 'butterfly1.jpg' %>
</div>
