<!DOCTYPE html>
<html>
  <head>
    <title>"Fiona Draws" - the illustrations of Fiona Dunphy</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bad+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="window" class="container-fluid">
      <div class="bordered">
        <header id="main-title">
          <a href="/">
            <%= image_tag 'header.png', title: "Fiona Draws - the illustrations of Fiona Dunphy" %>
          </a>
          <hr>
          <small>fiona dunphy illustration</small>
          <small><a href="mailto:fiona@fionadraws.com">fiona@fionadraws.com</a></small>
        </header>
        <%= yield %>
      </div>
    </div>
    <footer>
      Copyright &copy; 2013 Fiona Dunphy
    </footer>
  </body>
</html>
